img{
  float: right;
  width: 200;
  height: 300;
}

h1{
  color:solid black;
  text-align:center;
  font-style:italic;
}
#line1 {
  font-size: 20px;
}
h2{
  color:red;
  text-align:left;
  font-style:oblique;
  font-size:20px;
}
.line2{
  color:blue;
  text-align:left;
  font-style: italic;
}
.lists{
  color: gray;
}

div.textbox{
  margin:6px;}









.clear{
  clear: both;
}
.lists{
  font-size: 20px;
  font-family:  sans-serif;
}
.lists{
float: right;
}
# 1{
  float: left;

}
# 2{
  float: right;
}

.test-box{
  text-align: left;
  width: auto;
  height: auto;

}
.test-box {

  border: 2px solid red;
  padding: 2px solid blue;
  margin: 2px solid orange;
  background-color: yellow;
}
.test-box {
  border-left: 2px solid red;
  border-right: 2px ;
  border-top: 4px ;
  border-bottom: 4px solid black;
}
