

h1{
  color:solid black;
  text-align:center;
  font-style:italic;
}

#line1 {
  font-size: 20px;
}

h2{
  color:red;
  text-align:left;
  font-style:oblique;
  font-size:20px;
}

.line2{
  color:blue;
  text-align:left;
  font-style: italic;
}

.lists{
  color: gray;
}





.lists{
  font-size: 20px;
  font-family:  sans-serif;
}
.lists{
float: right;
}
# 1{
  float: left;

}
# 2{
  float: right;
}

 #text-box {
   border: 10px solid red;
   padding: 2px solid blue;
   margin: 5px solid orange;
   background-color: yellow;

}
 #text-box {
   border-left: 2px solid red;
   border-right: 2px ;
   border-top: 4px ;
   border-bottom: 4px solid black;
}
